:root{
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: hsl(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}
.home {
  height: 500px;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)),
              url('../../Asset/autumn.jpg') center/100vw no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1000;
  background-color: rgba(10, 54, 142, 0.5);
}

.title {
  color: rgb(235, 233, 232);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
}

.subTitle {
  color: var(--PrimaryColor);
  color: var(--whiteColorDream); /* Đây là lỗi, sửa lại */
  text-align: center;
}

.mainBtn {
  background-color: var(--PrimaryColor);
  border: 1px solid #cf2727;
  padding: 10px 53px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 100px;
  

}

.mainText {
  color: var(--inputColor);
}


.homeText, .mainBtn {
  display: flex; /* Sử dụng flexbox cho cha */
  justify-content: center; /* Căn chỉnh ngang cho cha */
  align-items: center; /* Căn chỉnh dọc cho cha */
  flex-direction: column; /* Đảm bảo các phần tử con xếp chồng lên nhau */
}


.homeCard {
  height: 200px;
  margin-bottom: 500px;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  box-shadow: 0 2px 4px 8px rgba(178, 178, 178 ,0.45);
  background-color: var(--whiteColor);
}


.locationDiv,
.distDiv,
.priceDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  .label {
    font-size: 600;
    color: var(--blackColor);
    margin-bottom: 0.5rem; /* Khoảng cách giữa label và input */
    border: none;
  }
}

.input {
  padding: 0.5rem;
  border: none; /* Loại bỏ khung viền */
  background: rgba(255, 255, 255, 0.8); /* Màu nền nhẹ */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng bóng để tạo cảm giác nổi */
  transition: background 0.3s, box-shadow 0.3s; /* Hiệu ứng chuyển đổi khi hover */
}

::placeholder{
  background-color: rgb(158, 158, 158);
  border-radius: 5px;
}

@media screen and (min-width:480px) {
  .home{
    .secContainer{
      .homeCard{
        bottom: -18px;
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        .btn{
          transform: translateY(1px);
        }
      }
    }
  }
}

@media screen and (min-width:720px) {
  .home{
    .secContainer{
      .homeCard{
        bottom: -20%;
        grid-template-columns: repeat(4, 1fr);
      }
        }
      }
    }
  
