:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: hsl(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.home {
  height: 500px;
  background: url(../../Asset/nature12.png) center/100vw no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1000;
}

.title {
  color: rgb(166, 73, 19);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
}

.subTitle {
  color: var(--whiteColor);
}

.mainBtn {
  background-color: var(--PrimaryColor);
  border: 1px solid #cf2727;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 100px;
}

.mainText{
  background-color: var(--PrimaryColor);
  border-radius: 50%;
  justify-self: center;
  text-align: center;
  display: flex;
}

.homeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.locationDiv,
.distDiv,
.priceDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  color: var(--whiteColor);
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--greyBg);
}

input::placeholder {
  color: var(--greyText);
}
