:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: hsl(190, 100%, 70%);
  --inputColor: hsl(330, 12%, 97%);
}


.navBarSection {
  width: 100vw;
  height: 100px; 
}


.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--inputColor);
  width: 100%;
  height: 100%;
  padding: 0 20px; 
}

.logoDiv {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.headerBtns {
  display: flex;
  align-items: center;
  gap: 10px;
}


.icon {
  cursor: pointer;
  font-size: 24px;  
  background-color: var(--whiteColorDream);
}


.navBar {
  display: none; 
  position: absolute;
  top: 80px; 
  left: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease; 
  transform: translateY(-100%); 
}


.navBar.activeNavbar {
  display: block;
  transform: translateY(0); 
}


.navLists {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Xếp các mục theo cột */
}


.navItem {
  padding: 10px 20px; 
  border-bottom: 1px solid #ffffff; 
}

.navItem:last-child {
  border-bottom: none;
}

.navLink {
  text-decoration: none;
  color: var(--textColor);
  font-size: 14px;
  display: block;
  text-align: center;
}


.navLink:hover {
  color: var(--PrimaryColor);
}
