:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: hsl(190, 100%, 70%);
  --inputColor: hsl(330, 12%, 97%);
  --box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}

.popular {
  padding-top: 15rem;
}

.secContainer .secHeader {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.secContainer .secHeader .textDiv .secTitle {
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}
.secContainer .secHeader p {
  font-size: 13px;
  color: var(--textColor);
  font-weight: 500;
}
.secContainer .iconsDiv {
  gap: 0.5rem;
}
.secContainer .iconsDiv .icon {
  padding: 0.5rem;
  background-color: var(--greyText);
  border-radius: 50%;
  font-size: 2.5rem;
}
.secContainer .iconsDiv .icon:hover {
  background: var(--blackColor);
  color: var(--whiteColor);
}
.secContainer .iconsDiv .leftIcon,
.secContainer .iconsDiv .rightIcon {
  background: var(--blackColor);
  color: var(--whiteColor);
  border-radius: 50%;
}
.secContainer .iconsDiv .leftIcon:hover,
.secContainer .iconsDiv .rightIcon:hover {
  background: var(--greyText);
  color: var(--blackColor);
}

.mainContent {
  padding: 2rem 0;
  gap: 1rem;
}

.singleDestination {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.destImage {
  height: 200px;
  width: 30%;
  position: relative;
  overflow: hidden;
}
.destImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.destImage .overlayInfo {
  position: absolute;
  display: flex;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: overflow 0.3s ease;
}
.destImage .overlayInfo .h3 {
  color: var(--whiteColor);
  font-weight: 500;
}
.destImage .overlayInfo p {
  color: var(--whiteColor);
  opacity: 0.7;
  font-size: 13px;
}
.destImage .icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0.5rem;
  background-color: var(--PrimaryColor);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--whiteColor);
  border: 1px solid transparent;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.destImage .icon:hover {
  background: var(--blackColor);
  border: 1px solid var(--PrimaryColor);
  color: var(--PrimaryColor);
}

.destFooter {
  padding: 1rem;
}
.destFooter .number {
  font-size: 2rem;
  font-weight: 700;
  color: var(--blackColor);
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.destFooter .number::after {
  content: "";
  position: absolute;
  background: var(--PrimaryColor);
  top: 45%;
  right: -150%;
  height: 5px;
  width: 45px;
  border-radius: 1rem;
}
.destFooter .destText {
  justify-content: space-between;
}
.destFooter h6 {
  color: var(--blackColor);
  font-size: 15px;
}
.destFooter .flex {
  font-size: 14px;
  font-weight: 600;
  align-items: flex-start;
  transform: translateY(5px);
}
.destFooter .flex .icon {
  color: var(--PrimaryColor);
  font-size: 16px;
}

/* Moved hover effect for .overlayInfo to .destImage */
.destImage:hover .overlayInfo {
  overflow: visible;
}

@media screen and (min-width: 720px) {
  .popular {
    padding-top: 15rem;
  }
}
@media screen and (min-width: 1024px) {
  .popular {
    padding-top: -100rem;
  }
  .popular .secContainer .secHeader .textDiv .secTitle {
    font-size: 2.2rem;
  }
  .popular .secContainer .secHeader .textDiv p {
    font-size: 15px;
  }
  .popular .secContainer .mainContent {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem !important;
  }
}/*# sourceMappingURL=popular.css.map */